<div class="view-photo">
	<h3><%= name + '.' + extension%> <a href="/download?path=<%= file%>" class="btn btn-mini btn-primary view-download">Download</a><a href="javascript:history.back(-1);" class="btn btn-mini view-back">Back</a></h3>
	<img src="cache/big<%= path + name%>.jpg">
	<h3><%= name + '.' + extension%> <a href="/download?path=<%= file%>" class="btn btn-mini btn-primary view-download">Download</a><a href="javascript:history.back(-1);" class="btn btn-mini view-back">Back</a></h3>
</div>